body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Bebas Neue', sans-serif; /* Apply Bebas Neue font to all text */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./background.jpg') no-repeat center center/cover; /* Background image */
    z-index: 0;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background-color: black;
    z-index: 1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
    width: 80%;
    max-width: 600px;
}

.pretext,
.subtext,
footer {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
}

.pretext {
    font-size: 2em;
    margin-bottom: 0px;
}

.main-heading {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 8em;
    margin-top: 10px;
    margin-bottom: 10px; /* Add some space between heading and subtext */
}

.subtext {
    font-size: 2em;
    margin-bottom: 40px; /* Add some space between subtext and footer */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: white;
}

@media only screen and (max-width: 768px) {
    .content {
        width: 90%; /* Adjust width for smaller screens */
    }
    
    .main-heading {
        font-size: 2.5em;
    }
    
    .company-name {
        font-size: 1.5em;
    }
    
    .subtext {
        font-size: 1.2em;
    }
}
